*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#container{
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}

/* NAV */
nav{
    height: 10vh;
    width: 100%;
    padding: 0 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

#nav-left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 50%;
    background-image: url(./assets/logo.svg);
    background-size: cover;
    background-position: center;
}

nav a{
    font-size: 1.2vw;
    cursor: pointer;
    border-bottom: 1px solid #111;
}

/* SIDEBAR */
#sidebar{
    margin-top: 10vh;
    width: 8.5%;
    height: 90%;
    padding: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#divider{
    height: 54vh;
    width: 2px;
    background-color: #000;
    opacity: .5;
}

#sidebar a{
    opacity: .5;
    font-weight: 600;
    rotate: 270deg;
    white-space: nowrap;
}

#year{
    margin-top: -3vw;
}

/* CONTENT */
#content{
    margin-top: 10vh;
    height: 90%;
    width: 37%;
}

#stats{
    padding-top: 5vw;
    display: flex;
    justify-content: center;
    gap: 3vw;
}

#stat-one{
    margin-left: -16vw;
}

#stats h1{
    font-size: 3vw;
    font-weight: 200;
    opacity: .8;
}

#stats h4{
    font-size: .85vw;
    font-weight: 400;
    opacity: .5;
}

#heading{
    padding-left: 3vw;
}

#heading h1{
    font-size: 13vw;
    font-weight: 300;
}

#heading h4{
    font-size: 1.4vw;
    margin-top: -2vw;
    font-weight: 400;
}

#footer-text{
    padding-top: 10vw;
    padding-left: 3vw;
    font-size: 1.3vw;
    opacity: .6;
}

/* IMAGE */
#image{
    margin-top: 10vh;
    height: 100%;
    width: 47%;
    background-image: url(./assets/model.png);
    background-size: cover;
    background-position: center;
}
